/* Estilos refentes a Navbar */
#logoHeader{
    height: 130px;
}

#navbar{
    height: 65px;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

header{
    height: 65px;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #D9D9D9;
}

.titulos{
    font-weight: 700;
}