/* Estilos refentes a Navbar */
.navbar-fixed {
  z-index: 999; 
}

#logoHeader {
  height: 130px;
}

#logo-container{
  text-align: left !important;
}

#navbar {
  height: 65px;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

header {
  height: 65px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #d9d9d9;
}

.titulos {
  font-weight: 700;
}

.icones {
  width: 40px;
}

#popupZap {
  width: 70px !important;
}

/* Estilo do pop-up do WhatsApp */
#popupZap {
  width: 8%;
  position: fixed;
  bottom: 0px;
  right: 25px;
  z-index: 3;
  animation: go-back 3s infinite;
}

@keyframes go-back {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-40px);
  }

  75% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* Estilo para as animações */
/*
A função de jQuery adiciona a classe animar, mudando a opacidade para 1 
e resetando o transform translate para 0px, 0px. 
A animação só ocorre de forma suave devido ao transition adicionado em cada elemento. 
*/
nav{
  width: 100% !important;
}

body{
  width: 100% !important;
}

.animar {
  opacity: 1 !important;
  transform: translate(0px, 0px) !important;
}

.tabs-content {
  min-height: 100vh !important;
}

.paragrafo-sobre {
  text-align: justify;
  text-justify: inter-word;
}


@media (max-width: 600px)
{
  #logoHeader {
    height: 100px;
  }

  #logo-container{
    text-align: center !important;
  }
}